*{box-sizing: border-box;}
body {
    margin: 0;
    padding: 0;
}
@import 'normalize.scss';
@import 'includes/header.scss';
@import 'includes/features.scss';
@import 'includes/iphonefeatures.scss';
@import 'includes/partners.scss';
@import 'includes/iphonescreens.scss';
@import 'includes/readytobuy.scss';
@import 'includes/customers.scss';
@import 'includes/plan.scss';
@import 'includes/subscribe.scss';
@import 'includes/footer.scss';
@font-face {
    font-family: Lato;
    src:url(../fonts/Lato/Lato-Light.ttf);
    font-family: Lato-Regular;
    src:url(../fonts/Lato/Lato-Regular.ttf);
    font-family: Varela-Round;
    src:url(../fonts/Varela_Round/VarelaRound-Regular.ttf);
}
.container {
    width: 80%;
    margin: 0 auto;
}
.title {
    color: #26272d;
    font-family: 'Lato';
    font-size: 26px;
    font-weight: bold;
    line-height: 34px;
}
.subtitle {
    color: #8c8f94;
    font-family: 'Lato';
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
}
li {
    list-style: none;
    color: #26272d;
    font-family: 'Lato';
    font-size: 16px;
    font-weight: bold;
    margin-left: 30px;
}
ul {
    padding: 0;
}
a {
    text-decoration: none;
    color: black;
}

    @media (max-width: 768px) {
        .container {
            width: 90%;
        }
        .partners {
            background: none;
        }
    }