doctype html
html
    head
        link(rel="stylesheet", href="styles/main.css")
    body
    section.header
        .header__container
            .header-menu
                .header-menu__left
                .header-menu__logo
                .header-menu__rigth
            .header-content__column
                .header-content__title
                .header-content__subtitle
                .header-content__btn
        