a(name="Feature")
section.features
    .container
        .features__content
            .features-item
                img(src="../img/Lock_Icon.png", alt="")
                .features-item__title Real-time all the time
                .features-item__subtitle 
                    |Thus much I thought proper to tell you in relation to yourself, and to the trust I reposed in you.  
                    p
                    |Just then her head struck against the roof of the hall: in fact she was now more than nine feet high, and she at once took up the little golden key and hurried off to the garden door.
            .features-item
                img(src="../img/Clock_Icon.png", alt="")
                .features-item__title Adopt without any obstacles
                .features-item__subtitle 
                    |This sounded a very good reason, and Alice was quite pleased to know it. 'I never thought of that before!' she said.
                    p
                    |This I have produced as a scantling of Jack’s great eloquence and the force of his reasoning upon such abstruse matters.