section.footer.container
    .footer__container-row
        .footer__left
            .footer__logo
            .footer__text It was some time before he obtained any answer, and the reply, when made, was unpropitious.
            .footer__appstore-icon
            ul.footer__social-list
                li.footer__social-item 
                    img(src="../img/Twitter_Icon.png", alt="")
                li.footer__social-item 
                    img(src="../img/Facebook_Icon.png", alt="")
                li.footer__social-item 
                    img(src="../img/Google_Icon.png", alt="")
                li.footer__social-item 
                    img(src="../img/Twitter_Icon.png", alt="")
                li.footer__social-item 
                    img(src="../img/Pinterest_Icon.png", alt="")
                li.footer__social-item 
                    img(src="../img/LinkedIn_Icon.png", alt="")
        .footer__content
            .footer__content-item 
                span.footer__content-title Learn More
                p
                |How it works?
                p
                |Meeting tools
                p
                |Live striming
                p
                |Contat method
            .footer__content-item 
                span.footer__content-title About us
                p
                |About us
                p
                |Features
                p
                |Privacy police
                p
                |Terms & Conditions 
            .footer__content-item 
                span.footer__content-title Support
                p
                |F.A.Q.
                p
                |Contact us
                p
                |Live chat
                p
                |Phone call
    .line-bar
    .footer__copyrights
        .footer__copyrights-text For more freebies visit: 
            span.footer__letstalk http://getcraftwork.com
        .footer__madein Made with Love by