section.iphonescreens
    .iphonescreens__container
        .iphonescreens__title.title Beautiful Interface
        .iphonescreens__line
        .iphonescreens__subtitle Landing Screen 
    .iphonescreens__block-img
        img(src="../img/Screen_1.png", alt="")
        img(src="../img/Screen_2.png", alt="")
        img(src="../img/Screen_3.png", alt="")
        img(src="../img/Screen_4.png", alt="")
        img(src="../img/Screen_5.png", alt="")