section.iphonefeatures
    .iphonefeatures__container
        img(src="../img/iPhone.png", alt="")
        .iphonefeatures__column
            .iphonefeatures__title Your dayis protected
            .iphonefeatures__subtitle.subtitle 
                |There have not been any since we have lived here, said my mother. 
                p
                |We thought - Mr. Copperfield thought - it was quite a large rookery; but the nests were very old ones, and the birds have deserted them a long while.
            .iphonefeatures__container-row
                .iphonefeatures__btn Try to hack us
                .iphonefeatures__more Learn more