section.partners
    .container
        .partners__title.title We are almost everywhere
        .partners__subtitle.subtitle
            |Now the races of these two have been for some ages utterly extinct, and besides to discourse any further of them would not be at all to my purpose.
            p
            |Thus much I thought proper to tell you in relation to yourself, and to the trust I reposed in you.
        .partners__title-icon Partners
        .partners__icon