section.plan
    .container.plan__container-row
        .plan__container-left
            .plan__title.title Choose your perfect plan
            .plan__select-text You are
            .plan__switch
                input(type="checkbox" name="you")
            .plan__subtitle.subtitle Thus much I thought proper to tell you in relation to yourself, and to the trust I reposed in you.
            .plan__talk Have a bigger team? 
                span.plan__letstalk Let‘s talk
        .plan__yourplan
            .plan__yourplan-left
                .plan__yourplan-title Starter
                .plan__yourplan-icon FREE
                .plan__yourplan-subtitle Build your schedule every day
                ul.plan__yourplan-list
                    li.plan__yourplan-feature  Unlimeted events
                    li.plan__yourplan-feature  Connect Dropbox & Evernote
                .plan__yourplan-btn Get started
            .plan__yourplan-rigth
                .plan__yourplan-title Pro
                .plan__yourplan-icon $4.99
                .plan__yourplan-subtitle Make your life better
                ul.plan__yourplan-list
                    li.plan__yourplan-feature Unlimeted events
                    li.plan__yourplan-feature Connect Dropbox & Evernote
                    li.plan__yourplan-feature Personal Assistant
                .plan__yourplan-btn.btn_yourplan-rigth Make me a Pro