a(name="App")
section.readytobuy
    .container
        .readytobuy__column
            .readytobuy__logo 
                span(value="New") New
                span(value="Providence") Providence
            .readytobuy__title Get it to your smartphone 
            .readytobuy__send-invite
                input.readytobuy__subscribe-mail(type="text" placeholder="denis@getcraftwork.com")
                input.readytobuy__subscribe-send(type="submit" value="Send Invite")
            .readytobuy__download-text or Download From
            .readytobuy__download-btn
                span Download on the
                p App Store