section.subscribe
    .container.subscribe__container
        .subscribe__title.title Subscribe our newsletters
        .subscribe__block
            input.subscribe__mail(type="text" placeholder="Your e-mail")
            input.btn-subscribe(type="submit" value="Subscribe")
        .subscribe__text We promise to never spam you.