.header {
    width: 100%;
    background: url(../img/backheader.png) center/cover;
    padding-top: 61px;

    &__menu {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__menu-link {
        display: flex;
    }
    &__menu-link  {
        background-image: url(../img/Menu_Icon.png);
        background-position: left;
        background-size: 20px;
        background-repeat: no-repeat;
    }
    &__logo {
        margin-left: 3%;
    }
    &__link {
        display: flex;
        align-items: center;
    }
    &__link-help {
        color: #1b1c1e;
        font-family: 'Lato';
        opacity: 0.4;
        font-size: 16px;
        font-weight: bold;
        margin-right: 30px;
    }
    &__link-contacts {
        color: #26272d;
        font-family: 'Lato';
        font-size: 16px;
        font-weight: bold;
        margin-right: 30px;
    }
    &__btn {
        width: 132px;
        height: 42px;
        border-radius: 21px;
        background-color: #267df4;
        background-image: url(../img/Apple_Icon.png);
        background-repeat: no-repeat;
        background-position: left;
        background-position-x: 17px;
        background-position-y: 9px;
        text-align: center;
        color: #ffffff;
        font-family: 'Lato';
        font-size: 16px;
        font-weight: bold;
        padding-top: 12px;
        padding-left: 13px;
    }
    &__body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    &__body-title {
        color: #26272d;
        font-family: "Varela-Round";
        font-size: 62px;
        font-weight: bold;
        line-height: 72px;
        margin-top: 128px;
    }
    &__body-subtitle {
        color: #8c8f94;
        font-family: 'Lato';
        font-size: 20px;
        font-weight: bold;
        line-height: 28px;
        margin-top: 40px;
        text-align-last: center;
        margin-bottom: 62px;
    }
    &__body-btn-play {
        background-image: url(../img/Play_Icon.png);
        background-position: center;
        background-position-x: 42px;
        background-repeat: no-repeat;
        width: 205px;
        height: 50px;
        border-radius: 25px;
        border: 1px solid #26272d;
        color: #26272d;
        font-family: 'Lato';
        font-size: 16px;
        font-weight: bold;
        text-align: center;
        line-height: 50px;
        padding-left: 15px;
        opacity: 0.1;
        margin-bottom: 55px;
    }
    &__body-btn-play:hover {
        opacity: 10;
        font-weight: bold;
    }
    &__body-icon {
        background-image: url(../img/iPhone_61.png);
        background-position:center;
        width: 369px;
        height: 455px;
        // box-shadow:  3px 9px 16px rgba(166, 166, 166, 0.14), inset 0 0 1px rgba(238, 238, 238, 0.965);
        background-position-y: 0px;
        background-repeat: no-repeat;
    }
    &__menu-drop {
        background-image: url(../img/Menu_Icon.png);
        width: 20px;
        height: 12px;
        position: relative;
        display: none;
    }
    &__menu-drop > ul {
        display: none;
        padding-top: 20px;
    }
    &__menu-drop li {
        margin-bottom: 10px;
    }
    &__menu-drop:hover ul {
        display: block;
        position: absolute;
        top: -10px;
        left: -30px;
        width: 100px;
    }
    &__menu-drop-left {
        background-image: url(../img/plus.png);
        width: 20px;
        height: 15px;
        background-repeat: no-repeat;
        background-size: contain;
        color: black;
        position: relative;
        display: none;
    }
    &__menu-drop-left li {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 10px;
        margin-right: 0;
    }
    &__menu-drop-left ul {
        display: none;
        padding-top: 25px;
    }
    &__menu-drop-left:hover ul {
        display: block;
        top: -10px;
        right: -40%;
        position: absolute;
    }
    @media (max-width: 1024px) {
        &__menu-link {
            display: none;
        }
        &__body-title {
            text-align: center;
        }
        &__body-subtitle {
            text-align: center;
        }
        &__menu-drop {
            display: block;
        }
        &__menu-drop:hover ul {
            display: block;
        }
        &__link {
            display: none;
        }
        &__menu-drop-left {
            display: block;
        }
        &__link-help {
            margin-right: 0;
        }
        &__link-contacts {
            margin-right: 0;
        }
        &__menu {
            justify-content: space-between;
        }
        .dropdown {
            display: block;
        }
    }
    @media (max-width: 768px) {
        &__body-icon {
            display: none;
        }
        &__body-subtitle {
            color: black;
            opacity: 0.5;
        }
        &__body-btn-play {
            opacity: 0.5;
        }
        &__link {
            display: none;
        }
        &__menu {
            justify-content: center;
        }
        &__body-title {
            margin-top: 100px;
            font-size: 34px;
            line-height: 30px;
        }
        &__menu-drop {
            display: block;
        }
        &__menu-drop:hover ul {
            display: block;
        }
        &__link {
            display: none;
        }
        &__menu-drop-left {
            display: block;
        }
        &__menu {
            justify-content: space-between;
        }
        &__link-help {
            margin-right: 0;
        }
        &__link-contacts {
            margin-right: 0;
        }
    }
}   

        @media (max-width: 768px) {
            .header {
                padding-top: 10px;
            }
        }
.dropbtn {
    background-image: url(../img/Menu_Icon.png);
    width: 20px;
    height: 12px;
    border: none;
    cursor: pointer;
  }
  .dropbtn2 {
    background-image: url(../img/plus.png);
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: white;
    background-position: center;
    border: none;
    cursor: pointer;
  }
  .dropbtn:hover, .dropbtn:focus {
    outline: none;
  }
  .dropbtn2:hover, .dropbtn2:focus {
    outline: none;
  }
  .dropdown {
    position: relative;
    display: inline-block;
  }
  .dropdown2 {
    position: relative;
    display: inline-block;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    list-style: none;
    color: #26272d;
    font-family: 'Lato';
    font-size: 16px;
    font-weight: bold;
    border-radius: 20px;
  }
  .dropdown-contentrigth {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 0;
    text-align: center;
    border-radius: 20px;
  }
  .dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  .dropdown-contentrigth a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  .dropdown-content a:hover {background-color: #ddd}
  .dropdown-contentrigth a:hover {background-color: #ddd}
  .show {display:block;}
  .show2 {display:block;}
  a[href="#App"] {
    width: 132px;
    height: 42px;
    border-radius: 21px;
    background-color: #267df4;
    background-image: url(../img/Apple_Icon.png);
    background-repeat: no-repeat;
    background-position: left;
    background-position-x: 17px;
    background-position-y: 9px;
    text-align: center;
    color: #ffffff;
    font-family: 'Lato';
    font-size: 16px;
    font-weight: bold;
    padding-top: 12px;
    padding-left: 13px;
  }
  .dropdown-contentrigth a:first-child {
    color: #1b1c1e;
    font-family: 'Lato';
    opacity: 0.4;
    font-size: 16px;
    font-weight: bold;
    }
    a[href="#Contacts"] {
    color: #26272d;
    font-family: 'Lato';
    font-size: 16px;
    font-weight: bold;
  }
  .dropdown {
      display: none;
  }