.partners {
    padding: 205px 0 197px 0;
    background: url(../img/2-layers.png);
    background-repeat: no-repeat;
    background-position: center right -110px;
    background-origin: content-box;
    background-size: contain;

    &__title {
        width: 279px;
        height: 94px;
    }
    &__subtitle {
        width: 469px;
        height: 159px;
        margin-bottom: 68px;
    }
    &__title-icon {
        color: #26272d;
        font-family: 'Lato';
        font-size: 12px;
        font-weight: 700;
        line-height: 22px;
        text-transform: uppercase;
        margin-bottom: 31px;
    }
    &__icon {
        width: 294px;
        height: 36px;
        background: url(../img/Dropbox_Logo.png) left, url(../img/Evernote_Logo.png) right;
        background-size: 45%;
        background-repeat: no-repeat;
    }
    @media (max-width: 1440px) {
        &__title {
            width: auto;
            text-align: center;
        }
        &__subtitle {
            width: auto; 
            text-align: center;
        }
        &__icon {
            margin: 0 auto; 
        }
        &__title-icon {
            text-align: center;
        }
    }
}
@media (max-width: 1440px) {
    .partners {
        background: none;
        padding: 50px 0 50px 0;
    }
}
        


