.plan {
    background-color: #f4f4f5;
    padding: 159px 0 191px 0;

    &__container-row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }
    &__title {
        margin-bottom: 67px;
    }
    &__select-text {
        color: #26272d;
        font-family: 'Lato';
        font-size: 12px;
        font-weight: 700;
        line-height: 22px;
        text-transform: uppercase;
        letter-spacing: 1.2px;
        margin-bottom: 20px;
    }
    &__switch {
        margin-bottom: 77px;
    }
    &__subtitle {
        margin-bottom: 44px;
        width: 351px;
    }
    &__talk {
        color: #8c8f94;
        font-family: 'Lato';
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
    }
    &__letstalk {
        color: #267df4;
        text-decoration: underline;
    }
    &__yourplan {
        display: flex;
        position: relative;
        width: 670px;
    }
    &__yourplan-left {
        width: 340px;
        height: 550px;
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
    }
    &__yourplan-title {
        color: #26272d;
        font-family: 'Lato';
        font-size: 32px;
        font-weight: 300;
        line-height: 38px;
        margin-bottom: 29px;
    }
    &__yourplan-icon {
        width: 63px;
        height: 28px;
        border-radius: 14px;
        border: 1px solid #26292c;
        color: #26272d;
        font-family: 'Lato';
        font-size: 11px;
        font-weight: 700;
        line-height: 22px;
        text-transform: uppercase;
        letter-spacing: 1.1px;
        margin-bottom: 56px;
        text-align: center;
        line-height: 2.5;
    }
    &__yourplan-subtitle {
        color: #8c8f94;
        font-family: 'Lato';
        font-size: 20px;
        font-weight: 400;
        line-height: 28px;
        margin-bottom: 47px;
    }
    &__yourplan-list {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-bottom: 89px;
     }
     &__yourplan-feature {
        list-style-image: url(../img/On_Icon.png);
        color: #26292c;
        font-family: 'Lato';
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        margin-bottom: 27px;
    }
    &__yourplan-btn {
        width: 212px;
        height: 42px;
        border-radius: 21px;
        background-color: #267df4;
        color: #ffffff;
        font-family: 'Lato';
        font-size: 16px;
        font-weight: 400;
        text-align: center;
        line-height: 2.6;
    }
    &__yourplan-rigth {
        width: 340px;
        height: 510px;
        background-color: #ebebed;
        margin-top: 20px;
        margin-left: 320px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    &__yourplan-rigth > ul {
        margin-bottom: 39px;
    }
    @media (max-width: 1284px) {
        &__container-row {
            flex-direction: column;
        }
        &__container-left {
            width: 100%;
            text-align: center;
        }
        &__subtitle {
            width: 100%;
        }
        &__talk {
            margin-bottom: 20px;
        }
    }
    @media (max-width: 768px) {
        &__yourplan {
            display: none;
        }
    }
}
.btn_yourplan-rigth {
    width: 202px;
    height: 42px;
    border-radius: 21px;
    border: 1px solid #267df4;
}
input[name="you"] {
    position: relative;
    width: 258px;
    height: 50px;
    border-radius: 25px;
    border: 1px solid #26292c;
    -webkit-appearance: none;
    outline: none;
    background-color: #f4f4f5;
}
input[name="you"]:before {
    content: '';
    position: absolute;
    width: 124px;
    height: 42px;
    box-shadow: 10px 28px 50px rgba(92, 95, 101, 0.28), 2px 5px 20px rgba(61, 61, 62, 0.15);
    border-radius: 21px;
    background-color: transparent;
    top: 3.3px;
    left: 2px;
}
input[name="you"]:after {
    content: '';
    top: 15px; 
    left: 32px;
}
input:checked[name="you"]:before {
    left: 130px;
    content: 'Company';
    color: #26292c;
    font-family: 'Lato';
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    line-height: 2.7;
}
input:checked[name="you"]:after {
    content: 'Individual';
    opacity: 0.4;
    color: #26292c;
    font-family: 'Lato';
    font-size: 16px;
    font-weight: 400;
    position: relative;
}
input:not(:checked)[name="you"]:after {
    opacity: 0.4;
    content: 'Company';
    padding-left: 125px;
    position: relative;
    color: #26292c;
    font-family: 'Lato';
    font-size: 16px;
    font-weight: 400;
}
input:not(:checked)[name="you"]::before {
    content: 'Individual';
    color: #26292c;
    font-family: 'Lato';
    font-size: 16px;
    font-weight: 400; 
    line-height: 2.7;
    text-align: center;
}
    @media (max-width: 768px) {
        .plan {
                padding: 50px 0 50px 0;
        }
    }